.card
    color: $font-color
    display: flex
    flex-direction: column
    align-items: center
    width: 22rem
    height: 12rem
    border-radius: 10px
    justify-content: space-between
    margin: 2rem

    @include low-resolution
        width: 14rem
        height: 11rem
        margin-bottom: 5rem

    @include mobile
        width: 20rem
        height: 7rem
        margin-top: 2rem
        margin-bottom: 3.5rem
