@mixin display
    display: flex
    justify-content: center
    align-items: center

@mixin desktop-low
    @media (max-width: 1697px)
        @content

@mixin low-resolution
    @media (max-width: 1292px)
        @content

@mixin tablet
    @media (max-width: 1160px)
        @content

@mixin mobile
    @media (max-width: 831px)
        @content

@mixin mobile-small
    @media (max-width: 576px)
        @content

@mixin mobile-ultra-small
    @media (max-width: 484px)
        @content
